<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejemplo modularizacion</title>
</head>
<body>
    <h1>Modularizado</h1>
    <br>
    <form id="formulario"></form>
    <button id="qryAll">Consultar Todos</button>

    <article>
        <% for (var x in errores) { %>
            <h4>
                <%= errores[x] %>
            </h4>
            <% } %>
    </article>

    <script src="./js/script.index.js"></script>
</body>
</html>