<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero Animales</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main class="contenedor">
        <form id="formulario">
        <article class="linea">
            <h1>Detalle Post</h1>
            <table class="Datos">
                <% for (var x in detalles) { %>
                    <tr>
                        <td><b class="nombreAnimal"><%= detalles[x]._id %></b></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b class="nombreAnimal"><%= detalles[x].title %></b></td>
                        <td><b class="nombreAnimal"><%= detalles[x].content %></b></td>
                    </tr>
                <% } %>
                
            </table>
        </article>
        <article  class="lineabtn">
            <div><button id="volver">Volver!</button></div>
        </article>
    </form>
    </main>
    <script src="../js/script-resultado.js"></script>
</body>
</html>